# node工程相关
node_modules
yarn.lock
yarn-error.log
npm-debug.log
package-lock.json

# GIT相关
# .gitignore

# 打包相关
dist
*/dist
.dev_cache
*/.dev_cache

# 其他目录
.DS_Store
*/.DS_Store
.idea
*/.idea
.vscode
*/.vscode
__MACOSX